@model OfferViewModel

@{
    ViewData["Title"] = "Offer Detail";
}
<h1>@ViewData["Title"]</h1>

<div class="form-group">
    <label for="sel1" class="text-primary">Select Static Analysis Tool</label>
   
        @if (Model.Details != null)
        {
            foreach (var item in Model.Details)
            {
            <select class="form-control" name="Mode">
               foreach(var item1 in @item.Mode){
                <option></option>
               }
            </select> 
            }
        }
      
   
   
</div>
